
/* colors: 
#00E2E1
#343a40 */


/* @import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,400&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

* {
  /* font-family: 'Ubuntu', sans-serif; */
  font-size: small;
  color: #343a40;
}



.container{
  max-width: 100vw;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.card-img {
  width: 100%;
  height: 8vw;
  object-fit: cover;
}

@media only screen and (max-width: 600px) {
  .card-img {
    height: 40vw;
  }
}

.list-img {
  width: 30vw;
}


.card-text {
  /* font-size: 3vw; */
  color: #343a40;
  overflow: hidden;
   text-overflow: ellipsis;
   display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
   -webkit-box-orient: vertical;
}

.altgreen-color {
  color: #343a40;
}

.turquoise-color {
  color: #00E2E1!important;
}

.card-header {
  border-bottom: 0px solid!important;
  padding: .15rem 1.25rem;
    padding-top: 0.2rem!important;
    padding-right: 1.25rem;
    padding-bottom: 0.15rem!important;
    padding-left: 0.25rem;
  background-color: #343a40;
}

.card-body {
  /* padding: 0!important; */
}

.border-info {
  border-color: white!important;
  /* box-shadow: silver; */
}

h5 {
  display: inline;
}

.card-text-link {
  color: inherit;
  text-decoration: inherit;
  
}

.card-header:first-child {
  border-radius: 0px 0.25rem 0px 0px;
}

h2 {
  font-family: 'Roboto Slab', serif;
  /* font-size: 3hw; */
  color: #343a40;
}

h1 {
  font-family: 'Roboto Slab', serif;
  /* font-size: 5vw; */
}

h3 {
  font-family: 'Roboto Slab', serif;
}

.heart-button {
  border-style: hidden;
  font-size: 100%;
  font-family: 'Roboto Slab', serif;
}

.searchproduct-form {
  background-color: #343a40!important;
  color: #00E2E1!important;
  /* margin-top: 2vw; */
  margin-bottom: 2vw;
  border-radius: 0px 0px 0.25rem 0.25rem;


}

.searchproduct-form::placeholder {
  color: #00E2E1;
  opacity: 1; /* Firefox */
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
}

.border {
  border: 0px!important;
}


.btn-outline-warning {
  color: #00E2E1;
  border-color: #00E2E1;
}

.wishtitle {
  background-color: #00E2E1;
  text-align: center;
}

.turquoise-bg {
  background-color: #00E2E1;
}

strike {
  font-size: small;
}

.carousel-control-next-icon {
  background-color: #00E2E1;
  opacity: 1;

}

.carousel-control-next-icon {
 height:9vh;
  width: 10vw;
  
}
.carousel-control-prev-icon {
  background-color: #00E2E1;
  opacity: 1;
}

.carousel-control-prev-icon {
 height:9vh;
  width: 10vw;
  
}

.carousel-R-text {
  background-color: rgba(52, 58, 64, 0.5);
  color: #00E2E1;
}

.turquoise-bg {
  background-color: #00E2E1;
}


.product-container {
  max-width: 900px;
}

.wrap-div{
  overflow-x:hidden
}